@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&family=Pacifico&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.4;
}

body {
  text-align: center;
  min-height: 100vh;
}

main {
  margin: 0rem 10rem;
  padding-top: 20rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fafafa;
  margin: 0rem 10rem;
  padding: 6rem 0rem;
  width: 90%;
  z-index: 100;
}
.menu-logo {
  display: flex;
  align-items: center;
}
.menu-logo-initials {
  border-radius: 50%;
  animation: pulse-logo 2.5s infinite;
  display: flex;
  background: #4ABDAC;
  box-shadow: 0 0 0 0 #4ABDAC;
}
.menu-logo-initials svg {
  margin: 1.25rem;
  width: 5rem;
  height: 5rem;
  fill: #fafafa;
}
.menu-logo-title {
  margin-left: 3rem;
  font-size: 2.7rem;
  font-family: inherit;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
.menu-list li {
  list-style-type: none;
  margin: 0 1.5rem;
  position: relative;
}
.menu-list li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.menu-list li a:hover {
  color: #4ABDAC;
}
.menu-list li a::after {
  position: absolute;
  display: block;
  width: 0%;
  content: "";
  height: 2px;
  bottom: -5px;
  left: 0;
  transition: width 0.4s ease-out;
  background: #4ABDAC;
}
.menu-list li a:hover::after {
  width: 100%;
}
.menu-button {
  text-decoration: none;
  background-color: #4ABDAC;
  color: #fafafa;
  height: fit-content;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 2rem;
  border-radius: 5px;
}
.menu-button:hover {
  animation: pulse-logo 1.5s infinite;
}

@keyframes pulse-logo {
  0% {
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(51, 217, 178, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
.section-header {
  margin: 5rem 0rem 10rem 0rem;
}
.section-header--title {
  font-family: "Amatic SC";
  font-size: 6.5rem;
  color: #4ABDAC;
}
.section-header--subtitle {
  font-size: 2.2rem;
  margin: 1rem 0rem 2.5rem 0rem;
  color: #348579;
}
.section-header--desc {
  font-size: 1.9rem;
  color: rgba(0, 0, 0, 0.5);
}
.section-header--desc span {
  color: #348579;
  font-weight: 600;
}

.table {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: auto;
  min-width: 60%;
  overflow-wrap: break-word;
  display: grid;
}
.table-container {
  display: flex;
  justify-content: center;
  margin: 8rem;
}
.table p {
  padding: 0rem 2.5rem;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.table div {
  display: grid;
  align-items: center;
  font-size: 1.7rem;
  padding: 0.7rem 0rem;
  border-bottom: rgba(217, 217, 217, 0.35) 0.1rem solid;
}
.table div:hover {
  background-color: rgba(74, 189, 172, 0.15);
}
.table div:first-of-type {
  background-color: #4ABDAC;
  color: #fafafa;
  padding: 1.3rem 0rem;
  border-radius: 8px 8px 0px 0px;
  font-size: 2rem;
}
.table div:last-of-type {
  border-bottom: none;
}

.inspect-data--form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.inspect-data--form input,
.inspect-data--form select {
  font-family: inherit;
  font-size: 5rem;
  color: #4ABDAC;
  text-align: center;
  border: none;
  background-color: rgba(217, 217, 217, 0.3);
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  margin-left: 2rem;
}
.inspect-data--form input::placeholder,
.inspect-data--form select::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.inspect-data--form input:focus, .inspect-data--form input:active,
.inspect-data--form select:focus,
.inspect-data--form select:active {
  border: none;
  outline: none;
  border-bottom-color: #4ABDAC;
  background-color: rgba(74, 189, 172, 0.05);
}
.inspect-data--form input:not([type=submit]) {
  width: 20rem;
}
.inspect-data--form input[type=submit] {
  margin-left: rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}
form input[type=submit] {
  background-color: #4ABDAC;
  color: #fafafa;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  margin: 1rem 2rem;
}
form input[type=submit]:hover {
  animation: pulse-logo 1.5s infinite;
}

.form--title {
  color: #4ABDAC;
  font-size: 2.7rem;
}
.form--subtitle {
  margin-top: 1rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.form--responses-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
}
.form--answers {
  font-size: 1.6rem;
  color: #4ABDAC;
  margin-left: 10rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.form--answers div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0rem;
}
.form--answers svg {
  margin: 0rem 2rem;
  width: 2rem;
  height: 2rem;
  color: #4ABDAC;
}
.form--answers span {
  color: rgba(0, 0, 0, 0.87);
}
.form--results {
  color: #4ABDAC;
}
.form--results img {
  max-width: 60rem;
  max-height: 40rem;
}

.field--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0rem;
}
.field--container svg {
  margin: 0rem 2rem;
  width: 2rem;
  height: 2rem;
  color: #4ABDAC;
}
.field--container label {
  font-size: 1.8rem;
  margin-right: 2rem;
}
.field--container input,
.field--container select {
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  font-family: inherit;
  background-color: rgba(217, 217, 217, 0.3);
  border: 1px #D9D9D9 solid;
  border-radius: 7px;
  margin: 1rem 0rem;
  font-size: 1.6rem;
}
.field--container input::placeholder,
.field--container select::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.field--container input:focus, .field--container input:active,
.field--container select:focus,
.field--container select:active {
  border-color: #4ABDAC;
  background-color: rgba(74, 189, 172, 0.05);
  outline: none;
}
.field--container input:focus::placeholder, .field--container input:active::placeholder,
.field--container select:focus::placeholder,
.field--container select:active::placeholder {
  color: #D9D9D9;
}

/*# sourceMappingURL=index.css.map */
